@red-river-red: #A40000;
@headline-color: @red-river-red;
@navbar-font-hover: @red-river-red;

@red: #ff0000;
@active-link: @red;

@black: #000;
@headline-stroke: @black;
@navbar-bg: @black;
@navbar-border: @black;
@footer-bg: @black;

@grey: #F2F2F2;
@body-bg: @grey;

@white: #fff;
@navbar-font-color: @white;
@bout-schedule-bg: @white;

body {
    background-color: @body-bg;
}

h1, h2 {
    color: @headline-color;
}

h1 { font-size: 40px; }
h2 { font-size: 34px; }
h1,h2,h3,h4,h5,h6 { font-family: 'Oleo Script', cursive; }
p, a, span, table, button { font-family: 'Merienda', cursive; }
ul { list-style: none; }

.banner-wrap {
    background-image: url('/img/banner.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
}

.torn-paper {
    background-image: url('/img/torn_paper.png');
    background-repeat: repeat-x;
    background-position: 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 92px;
    width: 100%;
    margin-top: -30px;
    z-index: 100;
}

.footer-banner {
    background-image: url('/img/foot_banner.jpg');
    position: relative;
    height: 150px;
}

.torn-paper-bottom {
    background-image: url('/img/torn_paper_bottom.png');
    background-repeat: repeat-x;
    background-position: 0 0;
    position: absolute;
    height: 92px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar-default {
    background-color: @navbar-bg;
    border-color: @navbar-border;
    .navbar-nav > li > a {
        color: @navbar-font-color;
        font-size: 18px;
        padding-right: 30px;
        &:hover,
        &:focus {
            color: @navbar-font-hover;
            background-color: transparent;
        }
    }
    .navbar-nav > li > a.active {
        color: @active-link; 
    }
}

.navbar.navbar-default {
    border-radius: 0;
}

.page-wrap {
    padding: 0;
}

@media screen and (min-width: 992px) {
    .page-wrap {
        padding-top: 4em;
        padding-bottom: 3em;
    }
}

.footer {
    background: @footer-bg;
    height: 40px;
    line-height: 40px;
    margin-top: 4em;
    p { margin: 0; }
}

p { margin-top: 20px; }
img { margin-top: 20px; }
a.btn { margin-top: 20px; }
.underline { border-bottom: 1px solid black; }

.form-trans {
    transition: height 500ms;
    -webkit-transition: height 500ms;
}

.sponsor-form {
    height: 0;
    overflow: hidden;
}

.sponsor-form.active {
    height: 1500px;
}

@media (min-width: 768px) {
    .sponsor-form.active {
        height: 750px; 
    }
}

.fresh-meat-form {
    height: 0;
    overflow: hidden;
}

.fresh-meat-form.active {
    height: 430px;
}

@media (min-width: 768px) {
    .sponsor-form.active {
        height: 375px; 
    }
}

.navbar-brand {
    img { margin: 0; }
    padding-top: 0;
}

.logo {
    position: absolute;
    top: 100px;
    left: 50%;
    z-index: 10000;
    margin: 0;
    margin-left: -140px;
}

.bout-schedule {
    background: @bout-schedule-bg;
    margin-top: 2em;
}
