.bout-schedule-wrap
  .top-filigree
  table.table.bout-schedule
    thead
      tr
        th When?
        th Where?
        th Who's Gonna Get It?

    tbody
      tr
        td 3/28
        td Home
        td WKRG &amp; Chattanooga

      tr.away-game
        td 4/25
        td Away
        td Demolition City

      tr
        td 5/16
        td Home
        td Marietta, GA

      tr.away-game
        td 6/20
        td Away
        td NRG Nashville

      tr.away-game
        td 7/18
        td Away
        td Memphis Roller Girls

      tr
        td 8/1
        td Home
        td Southern Illinois

      tr
        td 10/3
        td Home
        td Hard Knox

      tr
        td 11/14
        td Home
        td All Star Bout

  .bottom-filigree
