extends layout/base
block body
  .see-us.container
    .row
      .col-sm-4.text-center
        a.btn.btn-lg.btn-default() Buy A Ticket!

      .col-sm-8
        h1 Come Cheer For Us!
        h3 Observe as we drive our enemies before us!

        table.table.bout-schedule
          thead
            tr
              th When?
              th Where?
              th Who's Gonna Get It?
              
          tbody
            tr
              td 3/29
              td Home
              td Intraleague - School of Hard Knocks - Nerds vs Jocks

            tr
              td 4/19
              td Away
              td Little City Roller Girls

            tr
              td 5/17
              td Home
              td Clarksvillain Roller Girls

            tr
              td 6/18
              td Away
              td Clarksvillain Roller Girls

            tr
              td 7/19
              td Home
              td Little City Roller Girls

            tr
              td 8/9
              td Away
              td Tragic City Roller Girls

            tr
              td 9/27
              td Home
              td Cape Girardeau Roller Girls
            tr
              td 10/4
              td Away
              td Hard Knox Roller Girls

            tr
              td 12/6
              td Home
              td All Star Bout!
