extends layout/base
block body
  .container
    .row
      .col-sm-4
        a.btn.btn-lg.btn-default() Buy A Ticket!

      .col-sm-8
        h1 Come Cheer For Us!
        table.table
          thead
            tr
              th When?
              th Where?
              th Who's Gonna Get It?
              
          tbody
            tr
              td Then
              td There
              td Those Guys

            tr
              td Then
              td There
              td Those Guys
