extends layout/base
block body
  section.come-see-us-page
    .container
      .row
        .col-sm-4.col-md-offset-4.text-center
          a.btn.btn-lg.btn-rrs(href="mailto:rrs.treasurer@gmail.com?subject=TICKET REQUEST") Buy A Ticket!

      .row
        .col-sm-8.col-md-offset-2
          h1.text-center Come Cheer For Us
          h3.text-center Observe as we drive our enemies before us!

          include bout_schedule
