extends layout/base
block body
  section.contact-us
    .container
      .row
        .col-sm-12
          h1 Contact Us
          h2 Need to get in touch with the team? Email us here:

      .row
        ul.contacts
          a(href="mailto:rrs.president@gmail.com") 
            li.col-sm-3
              h3 President
              p rrs.president@gmail.com

          a(href="mailto:rss.vicepresident@gmail.com")
            li.col-sm-3
              h3 Vice President
              p rrs.vicepresident@gmail.com

          a(href="mailto:rss.secretary@gmail.com")
            li.col-sm-3
              h3 Secretary
              p rrs.secretary@gmail.com

          a(href="mailto:rrs.treasurer@gmail.com")
            li.col-sm-3
              h3 Treasurer
              p rrs.treasurer@gmail.com

      .row
        ul.contacts
          a(href="mailto:rrs.recruitment@gmail.com") 
            li.col-sm-3
              h3 Recruitment
              p rrs.recruitment@gmail.com

          a(href="mailto:rrs.sponsorship@gmail.com") 
            li.col-sm-3
              h3 President
              p rrs.sponsorship@gmail.com

          a(href="mailto:rrs.marketingandpr@gmail.com") 
            li.col-sm-3
              h3 Marketing and PR
              p rrs.marketingandpr@gmail.com
