extends layout/base
block body
  .index.container
    .row
      .col-sm-7
        h2 We Are
        h1 The Red River Sirens
        p.
          Saving souls and reaching goals since 2010, Clarksville
          Roller Derby is a non-profit organization that breeds a
          confident, competitive, and charitable spirit among our
          all-female athletic team, THE RED RIVER SIRENS.  
          
        p.
          Since our first competitive season in 2011, the Red River
          Sirens have raised and donated over <b>$15,000</b> for local
          non-profit organizations and businesses.  We participate
          in games, called BOUTS, and also put on fundraisers and
          events to raise awareness for our sport and other local
          groups who seek a valuable partnership with us.

      .col-sm-5.text-center
        a.btn.btn-lg.btn-default(href="/come_see_us.html") Come Watch Us Skate!

