extends layout/base
block body
  .page-wrap
    .container
      .row
        .col-sm-8
          h1 We're All Stars Now
          h2 In the Dope Show
          p.
            Saving souls and reaching goals since 2010, CLARKSVILLE
            ROLLER DERBY is a non-profit organization that breeds a
            confident, competitive, and charitable spirit among our
            all-female athletic team, THE RED RIVER SIRENS.  Since
            our first competitive season in 2011, the Red River
            Sirens have raised and donated over $15,000 for local
            non-profit organizations and businesses.  We participate
            in games, called BOUTS, and also put on fundraisers and
            events to raise awareness for our sport and other local
            groups who seek a valuable partnership with us.

        .col-sm-4
          a.btn.btn-lg.btn-default(href="/") Come Watch Us Skate!
