extends layout/base
block body
  .index
    section.intro
      .container
        .row
          .col-md-12
            h1.text-center We Are The Red River Sirens
            p.intro-copy.
              Saving souls and reaching goals since 2010, Clarksville
              Roller Derby is a non-profit organization that breeds a
              confident, competitive, and charitable spirit among our
              all-female athletic team, <b>The Red River Sirens</b>.


    section.kick-ass.text-center
        .left
          .copy
            h2 We Are A Kick Ass Roller Derby Team
            p.
              We skate in competitive matches, called <b>bouts</b>, against
              other regional teams for charity and bragging rights.

            p If you've never seen a roller derby match, think roller skates and rugby.

            .billy

        .right
          .copy
            a(href="/skate_with_us")
              //img.skate-with-us-cta.img-responsive.center-block(src="/img/skate_with_us.png", alt="Skate with us!")

            h2 Skate With The Best
            p.
              <span class="hidden-xs hidden-sm hidden-md">Wanna be a part of something bigger?</span>
              Do you enjoy skating hard and moderate to heavy
              ass-kicking? Is agression your natural response to
              conflict?

            p.
              You might have a future as a roller derby girl.

            a.btn.btn-lg.btn-rrs(href="/skate_with_us") Join the Team!

    section.we-make-a-difference
      .container
        .row
          .col-md-6
            h2.text-center We Make A Difference
            p.
              Since our first competitive season in 2011, the Red River
              Sirens have raised and donated over <b>$15,000</b> for local
              non-profit organizations and businesses.
            p.
              Help us help the community by joining the ranks of our sponsors.

            .text-center
              a.btn.btn-rrs.btn-lg(href="/sponsor_us") Become a Sponsor!

          .col-md-6.text-center
            img.img-responsive.st-jude(src="/img/st_jude.jpg")


    section.come-see-us
      .container
        .row
          .col-md-8.col-md-offset-2
            .text-center
              h1 Experience The Red River Sirens
              p.
                We skate with the home rink advantage at
                <a target="blank_" href="https://www.facebook.com/MagicWheels1">Magic Wheels</a> on Ft. Campbell Blvd. Come get
                buck rink-side!

              a.btn.btn-lg.btn-rrs(href="") Get Your Tickets!
            include bout_schedule

