extends layout/base
block body
  section.skate-with-us
    .container
      .row
        .col-sm-12
          img.img-responsive.center-block.group-portrait(src="/img/group_portrait_nice.jpg")

      .row
        .col-sm-8.col-sm-offset-2
          h1.text-center Skate With Us!
          button#fresh-meat-button.btn.btn-rrs.btn-lg.center-block(type="button") Fill Out This Form
          h2.text-center {{ flash }}

          #fresh-meat-form.fresh-meat-form.form-trans
            h2 Fill this out:
            form(action="/skate_with_us", method="post")
              input.shh(type="text", name="bond")
              .form-group.row
                .col-sm-12
                  label() Who are you?
                  input.form-control(name="name")

              .form-group.row
                .col-sm-6
                  label() Phone
                  input.form-control(name="phone")

                .col-sm-6
                  label() Email
                  input.form-control(name="email")

              .form-group.row
                .col-sm-12
                  label() Why do you want to skate with us?
                  textarea.form-control(name="reason")

              .form-group.row
                .col-sm-12
                  button.btn.btn-rrs.btn-lg(type="submit") Hit us up!

  section.meet-the-team
    .container
      .row
        .col-sm-12
          h1 Meet the Red River Sirens
          .row
            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/RedRiverSirens16_a.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 #.50 Ma Deuce

            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/RedRiverSirens1_a.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 Coach Hi Lee Toxic

          .row
            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/RedRiverSirens11_a.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 #R247 Buttercup Bunzz


            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="img/headshots/RedRiverSirens12.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 #0000 Zombie Apocalyzz

          .row
            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/RedRiverSirens13_a.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 #49 Rika Bobby

            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/RedRiverSirens14_a.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 #187 Redrum Ridinghood
          .row
            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/RedRiverSirens2.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 #22 Atta Kontrol
            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/RedRiverSirens20.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 #411 Flava Ave
          .row
            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/RedRiverSirens22_b.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 #931 Kill'N Dem Hose
            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/RedRiverSirens24.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 Referee Joleen
          .row
            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/RedRiverSirens3.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 #1337 Hillzilla
            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/RedRiverSirens4_a.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 #0813 Lil Azzassinada
          .row
            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/RedRiverSirens5_b.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 #64 DeRanged DeFrange
            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/RedRiverSirens6.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 #0511 Pepe le Juke
          .row
            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/RedRiverSirens7.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 #16 Violat-Her
            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/RedRiverSirens8.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 #4 Nobody
          .row
            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/RedRiverSirens9.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 #3B Goldie Blocks

            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/RedRiverSirens15_b.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 #R2D2 Toby-Wan Kenobi

          .row
            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/RedRiverSirens18.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 #75 Audrey Hipburn


            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/RedRiverSirens10.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 #13 Bodacious Ta-Tas

          .row
            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/RedRiverSirens23.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 #11 Mad MaXx


            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/dummy.png")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 #.44 Heartless Martis

          .row
            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/dummy.png")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 #693 Ruby Sparx


            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/dummy.png")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 #3 KZ


          .row
            .col-sm-8.col-sm-offset-2
              h2 Meet The Meat!
              p.well.
                Here's this season's crop of new players. We call
                them "fresh meat". They haven't earned their names
                yet, so come out and encourage them to skate hard and
                earn their places!

          .row
            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/RedRiverSirens17_b.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 Kelsey Littrell

            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/RedRiverSirens19_a.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 Nyeca Chino

          .row
            .col-sm-6
              .row
                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  img.center-block.img-responsive(src="/img/headshots/RedRiverSirens21_b.jpg")

                .col-sm-6.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  h3 Leesa Briles

