extends layout/base
block body
  .container
    .row
      .col-sm-12.text-center
        a#sponsor-us.btn.btn-lg.btn-default(href="") Apply To Be A Sponsor

    .row
      .col-sm-12
        h1.underline Check Out Our Sponsors!
        h2 Bob's Burger Shack
        img.img-responsive.center-block(src="http://placehold.it/800x300")
        p. 
          "Nothing, Sir; but I have no doubt I shall soon learn. I've
          been several voyages in the merchant service, and I think
          that—" "Merchant service be damned. Talk not that lingo to
          me. Dost see that leg?—I'll take that leg away from thy
          stern, if ever thou talkest of the marchant service to me
          again. Marchant service indeed! I suppose now ye feel
          considerable proud of having served in those marchant
          ships. But flukes! man, what makes thee want to go a
          whaling, eh?—it looks a little suspicious, don't it,
          eh?—Hast not been a pirate, hast thou?—Didst not rob thy

    .row
      .col-sm-4
        img.img-responsive.center-block(src="http://placehold.it/400x200")

      .col-sm-8
        h2 The Bikers Who Care
        p.
          "Nothing, Sir; but I have no doubt I shall soon learn. I've
          been several voyages in the merchant service, and I think
          that—" "Merchant service be damned. Talk not that lingo to
          me. Dost see that leg?—I'll take that leg away from thy
          stern, if ever thou talkest of the marchant service to me
          again. Marchant service indeed! I suppose now ye feel

    .row
      .col-sm-6
        .row
          .col-sm-6
            img(src="http://placehold.it/200x150")
          .col-sm-6
            p.
              "Nothing, Sir; but I have no doubt I shall soon learn. I've
              been several voyages in the merchant service, and I think
              that—" "Merchant service be damned. Talk not that lingo to

      .col-sm-6
        .row
          .col-sm-6
            img(src="http://placehold.it/200x150")
          .col-sm-6
            p.
              "Nothing, Sir; but I have no doubt I shall soon learn. I've
              been several voyages in the merchant service, and I think
              that—" "Merchant service be damned. Talk not that lingo to
