extends layout/base
block body
  section.we-make-a-difference
    .container
      .row.text-center
        .col-sm-12
          h1 Become A Sponsor!
          button#sponsor-us.btn.btn-lg.btn-rrs Apply To Be A Sponsor
          h2.text-center {{ flash }}

      #sponsor-form.sponsor-form.form-trans.row
        .col-sm-4
          h2 Here's the Deal:
          p.
            <b>We're</b> a fantastic, local, independent, nonprofit, all women's sports
            team with a significant audience, and we're well known for doing highly visibile
            philanthropic work.

          p.hidden-sm.hidden-xs.
            <b>You're</b> a business that's motivated to cultivate a positive image in the
            community and leverage smart opportunities for advertising to grow.

          p.
            <b>You</b> understand that you're signing up to be a sponsor for the 2014 season
            and that the benefits of doing so only apply to 2014. You understand
            that the benefits will start on March 1, 2014 or as soon as your
            application has been approved by the Clarksville Roller Derby board
            of directors and your contribution has been received.

          p.
            Finally, you understand that we're derby girls, not copy writers or
            graphic designers.  You will be responsible for providing any copy
            and graphics to be used for advertising purposes.

          h3 Got any questions? Call us!
          h4 (931) 302 3000

        .col-sm-8
          h2 Fill out this form and a team member will get in touch!
          form(action="/sponsor_us", method="post")
            input.shh(type="text", name="bond")

            .form-group.row
              .col-sm-6
                label.control-label(name="business_name") Business Name
                input.form-control(type="text", name="business_name")

              .col-sm-6
                label.control-label(name="individual_name") Individual Name
                input.form-control(type="text", name="individual_name")

            .form-group.row
              .col-sm-6
                label.control-label(name="business_phone") Business phone
                input.form-control(type="text", name="business_phone")

              .col-sm-6
                label.control-label(name="cell_phone") Cell Phone
                input.form-control(type="text", name="cell_phone")

            .form-group.row
              .col-sm-12
                label.control-label(name="notes") Notes
                textarea.form-control(name="notes", rows=4)

            .form-group.row
              .col-sm-12
                button.btn.btn-rrs.btn-lg(type="submit") Fire Away!

  section.our-sponsors
    .container
      .row
        .col-sm-12.text-center
          h1 2015 Sponsors Coming Soon

    //.container
      .row
        .col-sm-12
          h1.text-center Check Out Our Sponsors!

      .row
        .col-sm-6
          h2.text-center All American Tattoo
          img.img-responsive.center-block(src="/img/sponsors/all_american.jpg")
          p.text-center
            a(href="https://www.facebook.com/pages/American-Tattoo/132187586799916", target="_blank") All American Tattoo

        .col-sm-6
          h2.text-center The Nightstalkers
          img.img-responsive.center-block(src="/img/sponsors/nightstalkers.jpg")
          p.text-center
            a(href="http://nightstalkersbrotherhood.net", target="_blank") Nightstalkers Brotherhood

      .row
        .col-sm-6
          h2.text-center Appleton Harley-Davidson
          img.img-responsive.center-block(src="/img/appletons.jpg")
          p.text-center
            a(href="http://www.appletonharley.com", target="_blank") Appleton Harley Davidson

        .col-sm-6
          .row
            .col-sm-12
              h2.text-center Sonus Car Audio
              img.img-responsive.center-block(src="/img/sponsors/sonus.png")
              p.text-center
                a(href="http://www.sonuscaraudio.com", target="_blank") Sonus Car Audio

          .row
            .col-sm-12
              h2.text-center Circle J Ranch
              img.img-responsive.center-block(src="/img/sponsors/circle_j.jpg")
              p.text-center
                a(href="http://www.tnbeef.net", target="_blank") Circle J Ranch

          .row
            .col-sm-12
              h2.text-center Clarksville Events
              img.img-responsive.center-block(src="/img/sponsors/clarksville_events.jpg")
              p.text-center
                a(href="http://www.clarksvilleevents.com", target="_blank") Clarksville Events

      .row
        .col-sm-6
          h2.text-center Dover Dental Clinic
          img.center-block.img-responsive(src="/img/sponsors/dover-dental.jpg")
          p.text-center
            a(href="http://www.dovertndentist.com/", target="_blank") Dover Dental Clinic

        .col-sm-6
          h2.text-center Strait Up Karaoke &amp; DJ
          img.img-responsive.center-block(src="/img/sponsors/strait_up.jpg")
          p.text-center
            a(href="https://www.facebook.com/pages/Strait-UP-Karaoke/118610391526288", target="_blank") Straigh Up Karaoke

      .row
        .col-sm-6
          h2.text-center Eagle Mini Storage
          img.img-responsive.center-block(src="/img/sponsors/eagle_mini.jpg")
          p.text-center
            a(href="http://www.uhaul.com/Locations/Self-Storage-near-Oak-Grove-KY-42262/019634/", target="_blank") Eagle Mini Storage

        .col-sm-6
          h2.text-center BWC
          img.img-responsive.center-block(src="/img/sponsors/bwc_fixed.jpg")
          p.text-center
            a(href="http://bikerswhocare.org", target="_blank") Bikers Who Care

      .row
        .col-sm-6
          h2.text-center Action Gear &amp; Diesel
          img.img-responsive.center-block(src="/img/sponsors/action_gear_and_diesel.jpg")
          p.text-center
            a(href="https://www.facebook.com/pages/Action-Gear-and-Diesel-LLC/191660634190827?sk=info", target="_blank") Action Gear &amp; Diesel

        .col-sm-6
          h2.text-center Truecare Pharmacy
          img.center-block.img-responsive(src="/img/sponsors/truecare.png")
          p.text-center
            a(href="http://www.truecarepharmacytn.com", target="_blank") True Care Pharmacy

  section.thank-yous
    .container
      .row
        .col-sm-8.col-sm-offset-2
          h1.text-center Thank You!
          p.
            Whether you're an individual, business, organization, or part of a
            derby league that supports us, we thank you!  Without each and
            every one of you, we wouldn't be able to continue with this
            unbelievably awesome and empowering sport! Working together is what
            it's all about and we look forward to continuing our relationship
            with you.  

          .row
            ul
              .col-sm-6
                li Magic Wheels Skate Center
                li Action Air
                li Action Gear &amp; Diesel
                li Ajax Distributing Company
                li All-American Tattoo
                li Appleton Harley-Davidson
                li Asphalt Beach
                li Bent Wrench
                li Blu Hanya &amp; Lucky's Hand of Fate
                li Bonus Room
                li Budweiser of Clarksville
                li Circle J Ranch
                li Clarksville Dental Center
                li The Coup
                li Opossum Holler 
                li Dodge's Chicken Store
                li Dover Dental Clinic
                li Eagle Mini Storage
                li El Toro
                li Exit Realty-Pamela Justice
                li First Command Financial Services
                li Fulton Construction
                li Instant Tax Service
                li Papa Rock-Dover
                li Papa Rock-Woodlawn
                li Riverview Inn
                li Scooter's
                li Source Chiropractic
                li Sporty's Awards
                li Truecare Pharmacy
                li Sonus Car Audio
                li E|L Creative Group
                li Jan Stumphf

              .col-sm-6
                li Ms. Cleo Charland
                li Duane &amp; Kristi Cosette
                li Richard &amp; Beverly Incata
                li Ray &amp; Jane Miller
                li The Thomas Family
                li The Wilson Family
                li Stephanie Taylor
                li David Magers
                li Joleen Parsons
                li Neal and Terri Goodman
                li Debbie S. Wallace, DDS
                li Jonathan Wheeler

                li City of Clarksville
                li Clarksville After Dark
                li Clarksville Now
                li Clarksville Events
                li Daniel Whitaker
                li Five Star Radio
                li iHyper Active Media
                li Josh Vaughn Photography
                li Roland Woodworth
                li The Leaf-Chronicle

                li Bikers Who Care
                li Cats R Us
                li Clarksville Foxx Foundation
                li Companion Pet Rescue
                li Nicholas J. Robinson Youth Foundation
                li Nightstalker Brotherhood
                li Train a Dog, Save a Warrior
                li The Station Foundation
                li Special Forces Brotherhood MC
                li St. Jude

          p.
            The Sirens would also like to give a huge high-five and round of
            applause for all of the skater's families that put up with us.
            Thank you for all of the love and support you provide us.

          p.
            To the Skaters, Referees, Non-Skating Officials within the Sirens
            organization and from other leagues near and far...thank you!  
