doctype html
html
  head
    title The Red River Sirens
    meta(name="viewport", content="initial-scale=1")

    link(rel="shortcut icon", href="/img/favicon.ico")

    link(href='http://fonts.googleapis.com/css?family=Oleo+Script:400,700|Merienda:400,700',rel='stylesheet',type='text/css')
    link(rel="stylesheet", href="/css/vendor/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")

  body(class="{{ page_name }}")
    #banner-carousel.carousel.slide.banner-wrap.hidden-sm.hidden-xs()
      .carousel-inner
        .item.one.active

      .torn-paper.hidden-sm.hidden-xs
    img.img-responsive.hidden-sm.hidden-xs.logo(src="/img/logo-lg.png")

    nav.navbar.navbar-default
      .container
        .navbar-header
          button.navbar-toggle(data-toggle="collapse", data-target="#navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar

          a.navbar-brand(href="/")
            img.img-responsive(src="/img/logo-sm.png")

        a.hidden-xs.navbar-logo.navbar-right(href="//facebook.com/redriversirens", target="_blank")
          img.img-responsive(src="/img/fb.png")

        #navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            li
              a(href="/", class="{{ index_active }}") Home
            li
              a(href="/come-see-us", class="{{ come_see_us_active }}") See Us Skate

          ul.nav.navbar-nav.navbar-right
            li
              a(href="/skate-with-us", class="{{ skate_with_us_active }}") Meet the Team
            li
              a(href="/sponsor-us", class="{{ sponsor_us_active }}") Sponsor Us

    .page-wrap
      block body

    .footer
      .container
        .pull-left
          p
            a(href="/contact-us") Contact Us

          h3
            a(href="//facebook.com/redriversirens", target="_blank") Like Us on Facebook!

        p.pull-right &copy;2014 <a target="_blank" href="http://elcreativegroup.com">E|L Creative Group</a>

    .footer-banner.hidden-sm.hidden-xs
      .torn-paper-bottom

    script(src="/js/vendor/jquery.min.js")
    script(src="/js/vendor/bootstrap.min.js")
    script(src="/js/main.js")

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41485517-11', 'clarksvillerollerderby.com');
      ga('send', 'pageview');
