doctype html
html
  head
    link(href='http://fonts.googleapis.com/css?family=Oleo+Script:400,700|Merienda:400,700',rel='stylesheet',type='text/css')
    link(rel="stylesheet", href="/css/vendor/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")

  body
    .banner-wrap

    nav.navbar.navbar-default
      .container
        .navbar-header
        ul.nav.navbar-nav
          li
            a(href="/") Home
          li
            a(href="/come_see_us.html") See Us
          li
            a(href="/skate_with_us.html") Skate With Us
          li
            a(href="/sponsor_us.html") Sponsor Us

    block body

    script(src="/js/vendor/jquery.min.js")
    script(src="/js/vendor/bootstrap.min.js")
    script(src="/js/main.js")
