doctype html
html
  head
    title The Red River Sirens
    meta(name="viewport", content="initial-scale=1")
    link(href='http://fonts.googleapis.com/css?family=Oleo+Script:400,700|Merienda:400,700',rel='stylesheet',type='text/css')
    link(rel="stylesheet", href="/css/vendor/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")

  body
    #banner-carousel.carousel.slide.banner-wrap.hidden-sm.hidden-xs(data-ride="carousel")
      .carousel-inner
        .item.one.active
        .item.two
        .item.three

      .torn-paper.hidden-sm.hidden-xs
    img.img-responsive.hidden-sm.hidden-xs.logo(src="/img/logo-lg.png")

    nav.navbar.navbar-default
      .container
        .navbar-header
          button.navbar-toggle(data-toggle="collapse", data-target="#navbar-collapse")
            span.icon-bar 
            span.icon-bar 
            span.icon-bar 

          a.navbar-brand(href="/")
            img.img-responsive(src="/img/logo-sm.png")

        #navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            li
              a.active(href="/") Home
            li
              a(href="/come_see_us") See Us Skate

          ul.nav.navbar-nav.navbar-right
            li
              a(href="/skate_with_us") Meet the Team
            li
              a(href="/sponsor_us") Sponsor Us

    .page-wrap
      block body

    .footer
      .container
        p.pull-left
          a(href="/contact-us") Contact Us
        p.pull-right &copy;2014 <a target="_blank" href="http://elcreativegroup.com">E|L Creative Group</a>

    .footer-banner.hidden-sm.hidden-xs
      .torn-paper-bottom

    script(src="/js/vendor/jquery.min.js")
    script(src="/js/vendor/bootstrap.min.js")
    script(src="/js/main.js")
